@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Roboto Condensed';
}

.btn-green-1{
  background-color: #84C318;
  color: white
}

.btn-green-2{
  background-color: #84C318;
  color: white
}

.btn-green-2:hover{
  /* background-color: #F5FBEF; */
  color: black;
  transform: 0.5s;
}

  
.btn-white{
  background-color: #F5FBEF;
  color: black
}

.btn-white:hover{
  background-color: #84C318;
  color: white
}

.join-btn{
  background-color: #A4B7A4;
  width: 200px;
  border-radius: 20px;
}

.join-btn:hover{
  color: white;
}

.login-btn{
  border-color: #A4B7A4;
  width: 200px;
  border-radius: 20px
}

.login-btn:hover{
  background-color: #A4B7A4;
  color: white
}

.arrow-img:hover {
  transform: translateX(10px);
}

.create-img:hover {
  transform: scale(1.1);
}

